# ----------------------------------------------------------------------
# Sample environment file
# ----------------------------------------------------------------------
# Copy this file to .env as "cp env.example .env".
#
# Ideally, this file should work out of the box for the development
# environment without any adjustments.


# ----------------------------------------------------------------------
# Flask settings
# ----------------------------------------------------------------------
# For all other variables, handled by Flask, see
# https://flask.palletsprojects.com/en/1.1.x/config/#builtin-configuration-values
DEBUG=true
SECRET_KEY=secret


# ----------------------------------------------------------------------
# SQLAlchemy settings
# ----------------------------------------------------------------------
# Database URL in the SQLAlchemy format.
#
# In the variable, you can use a {PROJECT_ROOT} placeholder. It will be
# replaced with the current project root.
#
# See https://docs.sqlalchemy.org/en/14/core/engines.html#database-urls
# for more formats of Database URLs.
DATABASE_URL=sqlite:///{PROJECT_ROOT}/db.sqlite3


# ----------------------------------------------------------------------
# Sentry settings
# ----------------------------------------------------------------------
# Create a new free account at https://sentry.io, start a new
# project, and copy the Sentry DSN. An empty Sentry DSN is acceptable and
# means that Sentry integration is disabled.
SENTRY_DSN=

# Set this to a string, denoting your environment. Use one of "development",
# "staging", or "production."
SENTRY_ENVIRONMENT=development
